:root {
    --primary-black:#000;
}
a{
    text-decoration: none;
}
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
 /* NAVBAR SECTION */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.56rem;
    padding-left: 7.03rem;
    padding-right: 7.03rem;
}
.navbar > a{
    padding-right: 40px;
    font-weight: 400;
}
.fa-bars{
    display: none;
}
header a{
    color: var(--primary-black);
}
@media (max-width:950px) {
    header{
        padding-left: 22px;
        padding-right: 22px;
    }
    header > .navbar {
        display: none;
    }
    .fa-bars{
        display: flex;
        cursor: pointer;
        font-size: 2rem;
    }
}
    /* INTRODUCTION SECTION */
.introduction{
    display: flex;
    justify-content: space-between;
    padding-left: 112.5px;
    padding-right: 112.5px;
    flex-wrap: wrap;
}
.intro-left-side{
    flex-basis: 50%;
    padding-top: 7.31rem;
    min-width: 715px;
}
.intro-right-side{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 4.38rem;
    min-width: 500px;
}
.intro-left-side > h1{
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
.intro-left-side > h1 >span {
    color: #FF8A56;
}
.intro-left-side p {
    font-size: 1.38rem;
    font-weight: 400;
    color: #666;
}
@media (max-width: 1473px) and (min-width:768px) {
    .intro-left-side{
        align-items: center;
        flex-basis: 100%;
    }
    .introduction{
        padding-left: 0;
        padding-right: 0;
    }
    .intro-right-side{
        justify-content: center;
    }
}
@media (max-width:768px) {
    .introduction{
        padding-left: 0;
        padding-right: 0;
    }
    .intro-left-side{
        min-width: 400px;
        text-align: center;
        justify-content: center;
    }
}
.trusted-by > h6{
    font-size: 1.13rem;
    font-weight: 400;
    text-align: center;
}
.trusted-by-companies{
    display: flex;
    justify-content: space-around
}
@media(max-width:768px) and (min-width:576px){
    .trusted-by-company:nth-child(odd) {
        display: none;
    }
}
@media(max-width:575px){
    .trusted-by-company:not(:first-child) {
        display: none;
    }
}
.services-section h1 {
    text-align: center;
    margin: 0;
    padding-top: 155px;
    font-weight: 700;
    font-size: 1.38rem;
    color: #FF5E69;
    letter-spacing: 4px;
}
.services-section > p {
    font-weight: 700;
    font-size: 3.38rem;
    text-align: center;
    padding-bottom: 50px;
}
.services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.services img {
    padding-bottom: 40px;
}
.services ul {
    padding-left: 20px;
    list-style-type: square;
}
.services ul li {
    font-weight: 700;
}
.service {
    min-width: 247px;
    margin-top: 50px;
}
.service > h6 {
    font-size: 24px;
    margin: 0;
}
.service > p{
    color: #666666;
}
