:root {
    --primary-black:#000;
}
a{
    text-decoration: none;
}
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.56rem;
    padding-left: 7.03rem;
    padding-right: 7.03rem;
}
.fa-bars{
    display: none;
}
header a{
    color: var(--primary-black);
}
@media (max-width:950px) {
    header{
        padding-left: 22px;
        padding-right: 22px;
    }
    header > .navbar {
        display: none;
    }
    .fa-bars{
        display: flex;
        font-size: 2rem;
    }
}